.text_container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    & em {
      font-style: italic;
    }
    & .error {
      color: red;
    }
    & .ql-editor {
      height: 500px;
      flex: 1;
      overflow-y: auto;
      width: 100%;
      font-family: "Times New Roman", sans-serif;
    }
    .ql-snow {
      .ql-picker {
        &.ql-size {
          .ql-picker-label,
          .ql-picker-item {
            &::before {
              content: attr(data-value) !important;
            }
          }
        }
      }
    }
    .ql-picker-options {
      max-height: 200px;
      overflow: auto;
    }
  }
  .tox-notifications-container{
    display: none !important;
  }
  .tox-statusbar__help-text {
    display: none;
  }

  