.wrapper-album {
    margin-bottom: 10rem;
}

@media (max-width: 768px) {
    .album-container a {
        margin-top: 20px;
    }

    .wrapper-album {
        margin-top: 2.5rem;
    }
    
    
}
    