.wrapper-contact {
    margin-bottom: 8rem;
    margin-top: 2.5rem;
    
}

@media (max-width: 767px) {

    .wrapper-contact {
        padding: 20px;
    }
    /* Khi màn hình có chiều rộng nhỏ hơn 767px (kích thước điện thoại), thay đổi kiểu hiển thị */
    .col-6 {
      width: 100% !important;
      margin-right: 0; /* Không cần khoảng cách giữa cột trên màn hình điện thoại */
    }

    .map h3 {
        display: none;
    }

    .map {
        border-top: 1px dashed #B4B4B8;
    }
  }