.ant-table-thead .ant-table-cell {
    // background-color: #fffefe !important;
    color: rgb(37, 35, 35) !important;
    font-weight: 500 !important;
  }

.anticon-search {
    color: rgb(37, 35, 35);
    font-size: 16px;
}


.customInput {
  border-radius: 0; /* Đặt góc thành 0 */
}
.ant-select-selector {
  border-radius: 0 !important;
  font-size: 15px !important;
}
